<div class="ekart--product--item">
  <div class="ekart-wishlist-sale-container">
    <div class="ekart--add-to--wishlist">
      <i class="fa-regular fa-heart" aria-hidden="true"></i>
    </div>
    <div class="ekart-on-sale-tag" *ngIf="product.discountPrice">
      {{ (100 - (product.discountPrice / product.price * 100)).toFixed(0) }}% OFF
    </div>
  </div>
  <div class="ekart--product--image">
    <img [src]="product.imageURL" (error)="onImgError($event)" alt="{{ product.name }}" />
  </div>
  <div class="ekart--add-to-price">
    ₹{{ product.discountPrice || product.price }}
    <span class="old-price-tag" *ngIf="product.discountPrice">₹{{ product.price }}</span>
  </div>
  <div class="ekart--product--name">
    {{ product.name }}
  </div>
  <div class="ekart--product--category">
    {{ product.gender }} • {{ product.category }} • {{ product.brand }}
  </div>
  <div class="ekart--product--available-colors" *ngIf="product.color">
    {{ product.color.length }} Colors Best Seller
  </div>
  <div class="ekart-product-stock" [ngStyle]="{fontWeight:'bold', color: product.is_in_inventory ? '#16A34A' : '#DC2626'}">
    {{ product.is_in_inventory ? 'Available in Stock' : 'Out of Stock' }}
  </div>
</div>
