.ekart--products--container {
  margin: 24px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 1.8rem;
  align-items: stretch;

  padding-left: clamp(1rem, 5vw, 8%);
  padding-right: clamp(1rem, 5vw, 8%);
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
}

app-product.ekart--product--card {
  display: block;
  height: 100%;
}
