.ekart--products--container {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers children */
  gap: 1.5rem; /* Add spacing between products */

  padding-left: clamp(1rem, 5vw, 10%);
  padding-right: clamp(1rem, 5vw, 10%);
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px; /* Optional max limit for large screens */
}
